<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>	
<body style="background-color:rgb(240, 240, 240);">
<h2 ALIGN= "left" style="background-color:hsl(0, 0%, 60%);"> <u> Ajouter l'opération  </u> </h2>
<form action="/sauverOperation" method="get">
<div>
Montant : <input type="text" name="montant"/>
</div>
<div>
Type : <select name="type">
<option value="versement">Versement</option>
<option value="Retrait">Retrait</option>
</select>
</div>
<div>
<input type="submit" value="ajouter..." name="valider"/>
</div>

</form>
</body>
</html>